@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #34495E;
    font-family: 'Roboto', sans-serif;
}

.logo {
    margin: 20px;
}

.logo h1 {
    color: #ccc;
}

.container {
    background-color: #34495E;
}

.container .lines {
    display: flex;
}

.container .lines span {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 120px;
    max-height: 120px;
    margin: 2px;
    padding: 60px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #FFF;
}

.restart-container {
    margin: 20px;
}

.restart-container .restart {
    padding: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #34495E;
    background-color: #27AE60;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}

.restart-container .restart:active {
    background-color: #229954;
}

.fa-times, .fa-circle {
    font-size: 4rem;
}